sudo: false
language: python
python:
  - "nightly"
  - "3.7-dev"
  - "3.6"
  - "3.5"
  - "3.4"

install:
- pip install -r test-requirements.txt

script:
  - export PYTHONPATH="src"; py.test $PYTHONPATH
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then flake8 --config=.flake8 src/com2ann.py; fi
  - if [[ $TRAVIS_PYTHON_VERSION == '3.6' ]]; then flake8 --config=.flake8-tests src/test_com2ann.py; fi
