sudo: false
language: python
dist: xenial

jobs:
  include:
    - name: "Lint code and tests with flake8"
      python: 3.7
      script:
        - flake8 --config=.flake8 src/com2ann.py
        - flake8 --config=.flake8-tests src/test_com2ann.py

    - name: "Type check code with mypy"
      python: 3.7
      script: mypy --python-version=3.8 src/com2ann.py

    - name: "Run tests"
      python: 3.8-dev
      script: export PYTHONPATH="src"; python -m unittest src/test_com2ann.py

install:
- pip install -r test-requirements.txt
